<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.ideal.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.bunbeauty.ideal.myapplication.other.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/BunBeauty"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.PhotoSliderActivity" />
        <activity android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.comments.ServiceCommentsActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.comments.CreationCommentActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.comments.CurrentCommentActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.comments.UserCommentsActivity" />
        <activity android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.chat.MessagesActivity" />
        <activity android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.subscriptions.SubscriptionsActivity" />
        <activity android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.chat.DialogsActivity" />
        <activity android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.log_in.RegistrationActivity" />
        <activity android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.log_in.AuthorizationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.profile.ProfileActivity" />
        <activity
            android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.create_service.CreationServiceActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.search_service.MainScreenActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.service.ServiceActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.editing.EditProfileActivity" />
        <activity
            android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.editing.EditServiceActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.log_in.VerifyPhoneNumberActivity" />
        <activity android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.ScheduleActivity" />
        <activity android:name="com.bunbeauty.ideal.myapplication.clean_architecture.mvp.activities.SessionsActivity" />

        <service android:name="com.bunbeauty.ideal.myapplication.clean_architecture.business.notifications.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.bunbeauty.ideal.myapplication.clean_architecture.business.notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>